*{
  box-sizing: border-box;
}

.cont{
  height: 10%;
  width: 276px;
  left: calc(5% - 10px);
  padding: 0;
  margin: 0 auto;
  position: absolute;
  top:-20px;
}
#progress-bar{
  appearance:none;
  width: 280px;
  color: #000;
  height: 3px;
  margin: -10px auto;
}

/* p{
  font-family: Arial;
  font-size: 10pt;
  text-shadow: 1px 1px 0px #000;
  color: #fff;
  text-align: center;
} */


.second{
  left: 70px !important;
}
.third{
  left: 140px !important;
}
.fourth{
  left: 210px !important;
}
.fifth {
	left: 280px !important;
}
#progress-bar::-webkit-progress-value{ /* Changes line color */
  background: #fff;
  transition: all 0.4s ease-in-out;
}
#progress-bar::-webkit-progress-bar{ /* Changes background color */
  background: #137CC0;
}
.border-change{
  border-color:#fff;
  transition: all 0.4s ease-in-out;
}