<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html>
    <body>
    
    <table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <strong>Change Request</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${changeRequstName}</a>
                </p>
            </td>
        </tr>
        
         <tr>
            <td>
                <p align="center">
                    <strong>Engagement</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${engagementName}</a>
                </p>
            </td>
        </tr>
        
        <tr>
            <td>
                <p align="center">
                    <strong>Product</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${product}</a>
                </p>
            </td>
        </tr>
        
    <tbody>
    </table>
    <p>
    	<b> Change Request Description:</b>
    </p>
	<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <strong>Change Request Number</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${changeRequstId}</a>
                </p>
            </td>
        </tr>
        
       
        
         <tr>
            <td>
                <p align="center">
                    <strong>Priority</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${priority}</a>
                </p>
            </td>
        </tr>
        
        <tr>
            <td>
                <p align="center">
                    <strong>Raised Date</strong>
                </p>
            </td>
            <td>
                <p>
                    <a target="_blank">${raisedDate}</a>
                </p>
            </td>
        </tr>
        
        
        
        <tr>
            <td>
                <p align="center">
                    <strong>Status</strong>
                </p>
            </td>
            <td>
                <p>
                     ${status}
                </p>
            </td>
        </tr>
       
       
        
         <tr>
            <td>
                <p align="center">
                    <strong>Owner</strong>
                </p>
            </td>
            <td>
                <p>
                    <a>
                       ${owner}
                    </a>
                </p>
            </td>
        </tr>
    
    </tbody>
</table>

<div align="center">
    <hr size="2" width="100%" noshade="" align="center"/>
</div>
</body>
</html>
