<html>
    <body>
        <h3>Dear ${user.firstName},</h3>

	        
	        <p> Your Password has been reset.</p>
	            
	          <p> LoginId: ${user.loginId}</p>
	          <p> Password: ${user.userPassword}</p>
	            
	         <p>  Please Login using the updated credentials.</p>
	        
		      <p>  Regards,</p>
		      <p>  Admin.</p>
		        
		      <p>  Do-Not-Reply@Admin: Password Recovery</p>
		        
        
    </body>
</html>
